<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>  
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
    
</head>
<body>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
    	<label for="username">
<!--     		<span th:text="#{user.username}">Username: </span> -->
    		<span>Username: </span>
    	</label>
    	<input type="text" th:field="*{username}"/>
    	<label for="password">
<!--     		<span th:text="#{user.password}">Username: </span> -->
    		<span>Password: </span>
    	</label>
    	<input type="text" th:field="*{password}"/>
    	<button type="submit" name="login">Submit</button>
    </form>
</body>
</html>